/*public*/
#wrap-login,#wrap-main,#wrap-mainb,#banner,#wrap-youx{width: 100%;}
#login,#main-head{width: 1200px;margin: auto;}
#main,#foot,#register-nav,#register-cont,#youx,#taoc{width: 1200px;margin: auto;}
/*login*/
#wrap-login{height: 25px;margin-bottom: 20px;}
#login{clear: both;}
#login .lg_re{width: 400px;height: 30px;float: left;line-height: 30px;}
#login .lg_re span{margin-left: 20px;}
#login .lg_re a:first-child{margin-left: 82px; margin-right: 20px;}
#login .wel{float: left; width: 180px;height: 30px;line-height: 30px;margin-left: 40px;}
#login ul{float: right;}
#login ul li{float: left;width: 70px;height: 30px;text-align: center;line-height: 30px;position: relative;z-index: 10;}
/*main-head*/
#wrap-main{height: 90px;}
#main-head h1{display: block;width: 155px;height: 75px;float: left;margin-left: 50px;}
#wrap-main .serh{width: 443px;height: 62px;float: left;margin-left: 180px;}
#wrap-main .serh form{width: 443px;height: 40px;background: #ff6600;}
#wrap-main .serh form input[type="text"]{width: 360px;height: 33px;border: 0;margin-left: 3px;margin-top: 3px;}
#wrap-main .serh form input[type="button"]{
	width: 75px;height: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: bolder;
	border: 0;
	background: #FF6600;
}
#wrap-main .serh p{line-height: 30px;}
#wrap-main .serh p a{margin-right: 10px;}
#wrap-main .maimg{width: 160px;height: 80px;float: right;}
/*main*/
#wrap-mainb{height: 33px;border-bottom: 2px solid #318700;}
#main ul li{float: left; font-size: 16px;width: 105px;height: 33px;line-height: 33px;text-align: center;}
/*banner*/
#banner{
	height: 400px;
}
#banner img{width: 100%;height: 400px;}
/***************youx****************/
#wrap-youx{
	height: 480px;
	margin-bottom: 20px;
}
#youx{
	height: 480px;
	position: relative;
}
#youx .yx_top{
	width: 210px;
	height: 91px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
}
#youx .yx_top p{
	width: 200px;
	height: 24px;
	background: #000;
	text-align: center;
	line-height: 24px;
	color: #fff;
	opacity: 0.6;
	border-radius: 20px;
}
#youx .yx_top img{
	margin-left: 40px;
}
#youx .yx_under{
	width: 1200px;
	height: 443px;
	background: red;
	position: relative;
	top: 30px;
}
#youx .yx_under .pic-l{
	position: absolute;
	left: -35px;
	top: 170px;
	z-index: 20;
	
}
#youx .yx_under .pic-r{
	position: absolute;
	right:60px;
	top: 170px;
	z-index: 20;
	
}
#youx .yx_under .pic-l img{width: 88px;height: 133px;}
#youx .yx_under .pic-r img{width: 88px;height: 133px;}
#youx .yx_under img{
	width: 250px;
	height: 250px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 0;
	transform: translateY(0);
	transition: .2s;
}
#youx .yx_under h4{
	font-size: 16px;
	color: #333333;
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
	text-align: center;
	}
#youx .yx_under p{
	text-indent: 10px;
	padding: 0 10px 0 10px;
}	
#youx .yx_under .yx_a{
	width: 300px;
	height: 443px;
	float: left;
	background: #fff;
}
#youx .yx_under .yx_a .bgc{
	height: 310px;
	background: #83d34a;
	position: relative;
}
#youx .yx_under .yx_a .bgc span{
	display: block;
	width: 60px;
	height: 60px;
	background: #83d34a;
	border: 2px solid #0B0B0B;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 40px;
}
#youx .yx_under .yx_a .bgc span i{
	font-size: 20px;
}
#youx .yx_under .yx_a:hover img{
	transform: translateY(-10px);
}
#youx .yx_under .yx_a:hover h4 a{color: red;}
/*b*/
#youx .yx_under .yx_b{
	width: 300px;
	height: 443px;
	float: left;
	background: #fff;
}
#youx .yx_under .yx_b .bgc{
	height: 310px;
	background: #ff8f40;
	position: relative;
}
#youx .yx_under .yx_b .bgc span{
	display: block;
	width: 60px;
	height: 60px;
	background: #83d34a;
	border: 2px solid #0B0B0B;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 40px;
}
#youx .yx_under .yx_b .bgc span i{
	font-size: 20px;
}
#youx .yx_under .yx_b:hover img{
	transform: translateY(-10px);
}
#youx .yx_under .yx_b:hover h4 a{color: red;}
/*c*/
#youx .yx_under .yx_c{
	width: 300px;
	height: 443px;
	float: left;
	background: #fff;
}
#youx .yx_under .yx_c .bgc{
	height: 310px;
	background: #ff6068;
	position: relative;
}
#youx .yx_under .yx_c .bgc span{
	display: block;
	width: 60px;
	height: 60px;
	background: #83d34a;
	border: 2px solid #0B0B0B;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 40px;
}
#youx .yx_under .yx_c .bgc span i{
	font-size: 20px;
}
#youx .yx_under .yx_c:hover img{
	transform: translateY(-10px);
}
#youx .yx_under .yx_c:hover h4 a{color: red;}
/*d*/
#youx .yx_under .yx_d{
	width: 300px;
	height: 443px;
	float: right;
	background: #fff;
}
#youx .yx_under .yx_d .bgc{
	height: 310px;
	background: #bd5bc6;
	position: relative;
}
#youx .yx_under .yx_d .bgc span{
	display: block;
	width: 60px;
	height: 60px;
	background: #83d34a;
	border: 2px solid #0B0B0B;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 40px;
}
#youx .yx_under .yx_d .bgc span i{
	font-size: 20px;
}
#youx .yx_under .yx_d:hover img{
	transform: translateY(-10px);
}
#youx .yx_under .yx_d:hover h4 a{color: red;}
/*套餐部分*/
#taoc{
}
#taoc .taoc_a{
	height: 535px;
	margin-bottom: 15px;
	overflow: hidden;
}
#taoc .taoc_a .taoc_a_l{
	width: 450px;
	height: 528px;
	border: 1px solid #333;
	float: left;
	background: #fff;
	position: relative;
}
#taoc .taoc_a .taoc_a_l .l_t{
	width: 450px;
	height: 450px;
	overflow: hidden;
	position: relative;
}
#taoc .taoc_a .taoc_a_l .l_t span{
	display: block;
	width: 303px;
	height: 500px;
	background: url(../images/animate.png);
	position: absolute;
	top: 0;  
	left: -450px;
	
}
#taoc .taoc_a .taoc_a_l .l_t:hover span{
	animation: move .8s;
}
@keyframes move{
				from{left: -450px;}
				to{left: 450px;}
			}	
#taoc .taoc_a .taoc_a_l ul{
	width: 370px;
	height: 69px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -5px;
}
#taoc .taoc_a .taoc_a_l ul li{
	float: left;
}
#taoc .taoc_a .taoc_a_l ul li a{
	display: block;
	width: 54px;
	height: 54px;
	text-align: center;
	line-height: 54px;
	border: 1px solid #318700;
	margin-right: 5px;
	border-radius: 6px;
}
#taoc .taoc_a .taoc_a_l ul li a:hover{
	background: #318700;
	color: #fff;
}
#taoc .taoc_a .taoc_a_r{
	width: 746px;
	height: 527px;
	border: 1px solid #ddd;
	float: right;
}
#taoc .taoc_a .taoc_a_r .box{
	width: 165px;
	height: 264px;
	float: left;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 20px;
	position: relative;
	overflow: hidden;
}
#taoc .taoc_a .taoc_a_r .box img{
	width: 140px;
	height: 140px;
	margin-top: 20px;
	transform: translateY(0);
	transition: .5s;
}
#taoc .taoc_a .taoc_a_r .box p{
	font-size: 16px;
	margin-top: 10px;
	height: 38px;
	transform: translateY(0);
	transition: .5s;
}
#taoc .taoc_a .taoc_a_r .box b{
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	color: #ff6900;
	transform: translateY(0);
	transition: .5s;
	display: block;
}
#taoc .taoc_a .taoc_a_r .box span{
	display: block;
	width: 140px;
	height: 40px;
	background: #FF6900;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	position: absolute;
	bottom: -45px;
	transform: translateY(0);
	transition: .5s;
}
#taoc .taoc_a .taoc_a_r .box span a{
	color: #fff;
}
#taoc .taoc_a .taoc_a_r .box:hover span{
	transform: translateY(-48px);
}
#taoc .taoc_a .taoc_a_r .box:hover b{
	transform: translateY(-20px);
}
#taoc .taoc_a .taoc_a_r .box:hover p{
	transform: translateY(-15px);
}
#taoc .taoc_a .taoc_a_r .box:hover img{
	transform: translateY(-10px);
}
#taoc .taoc_a .taoc_a_r .box:nth-of-type(4){
	border-right: 0;
	width: 168px;
}
#taoc .taoc_a .taoc_a_r .box:nth-of-type(5){
	border-bottom: 0;
}
#taoc .taoc_a .taoc_a_r .box:nth-of-type(6){
	border-bottom: 0;
}
#taoc .taoc_a .taoc_a_r .box:nth-of-type(7){
	border-bottom: 0;
}
#taoc .taoc_a .taoc_a_r .box:nth-of-type(8){
	border-right: 0;
	width: 168px;
	border-bottom: 0;
}







/*foot*/
#foot{
	height: 339px;
	border-top: 1px solid #333333;
	padding-top: 10px;
}
#foot ul{
	width: 240px;
	height: 150px;
	float: left;
}
#foot ul h5{
	width: 240px;
	height: 25px;
	font-size: 18px;
	text-indent: 25px;
	margin-bottom: 5px;
	overflow: hidden;
}
#foot ul li{
	width: 220px;
	height: 22px;
	padding-left: 15px;
	border-left: 1px dotted #333;
	line-height: 22px;
	margin-left: 10px;
}
#foot .ul-a h5{
	background: url(../images/ul-a.jpg) no-repeat left;
}
#foot .ul-b h5{
	background: url(../images/ul-b.jpg) no-repeat left;
}
#foot .ul-c h5{
	background: url(../images/ul-c.jpg) no-repeat left;
}
#foot .ul-d h5{
	background: url(../images/ul-d.jpg) no-repeat left;
}
#foot dl{
	width: 100px;
	height: 119px;
	float: left;
	text-align: center;
	}
#foot dl dt{
	width: 100px;
	height: 100px;
}
#foot dl dt img{
	width: 100%;
	height: 100%;
}
#foot .foot-b{
	height: 190px;
	border-top: 1px solid #333;
	clear: both;
}
#foot .foot-b p{
	text-align: center;
	line-height: 30px;
}
#foot .foot-b p:nth-of-type(2) b{
	font-size: 20px;
	color: #ff6600;
}
#foot .foot-b p:nth-of-type(2) img{
	display: inline;
}
#foot .foot-b p:nth-of-type(7) img{
	display: inline;
}
